
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="United Church of Christ Clinton">
    <meta name="author" content="Nick Beaudoin">

    <title>UCC Clinton: ADMIN</title>
    
    <script src="/dist/admin-bundle.js"></script>
    <!-- Custom styles for this template -->
    {{{block "styles"}}}
  </head>
  <body>
    {{>admintopnav}}
    
    <div class="container-fluid">
      <div class="row">
        {{>adminsidenav}}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
       
          {{{body}}}

        </main>
      </div>
    </div>

    {{!-- DELETE THIS --}}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    {{!-- DELETE --}}


    <script src="/assets/js/jquery.min.js"></script>
    {{{block "scripts"}}}
  </body>
</html>
