
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="United Church of Christ Clinton">
    <meta name="author" content="Nick Beaudoin">

    <title>UCC Clinton</title>
    
    <script src="dist/bundle.js"></script>    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>

    {{>navbar}}

    <main role="main">

    {{{body}}}

    </main>

  </body>
</html>

