
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UCC Clinton: ADMIN</title>

    <script src="/dist/login-bundle.js"></script>
  </head>

  <body class="text-center">
    {{{body}}}
  </body>
</html>
