<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <span class="navbar-brand col-sm-3 col-md-2 mr-0">Admin Dashboard - UCC Clinton</span>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav lt-md">
            <a class="nav-item nav-link active" href="/admin">Dashboard <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/admin/homepage">Homepage</a>
            <a class="nav-item nav-link" href="/admin/ministries">Ministries</a>
            <a class="nav-item nav-link" href="/admin/worship">Worship</a>
            <a class="nav-item nav-link" href="/admin/rentals">Rentals</a>
            <a class="nav-item nav-link" href="/admin/about">About</a>
            <a class="nav-item nav-link" href="/admin/staff">Staff</a>
            <a class="nav-item nav-link" href="/admin/photos">Photos</a>
            <a class="nav-item nav-link" href="/admin/newsletter">Newsletter</a>
            <a class="nav-item nav-link" href="/admin/account">Change Password</a>
            <a class="nav-item nav-link" href="#">Sign out</a>
        </div>
    </div>

    <ul class="navbar-nav px-3 gt-md">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>