<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link active" href="/admin">
            <span data-feather="compass"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/homepage">
            <span data-feather="home"></span>
            Homepage
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/worship">
            <span data-feather="book-open"></span>
            Worship
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/ministries">
            <span data-feather="heart"></span>
            Ministries
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/weddings">
            <span data-feather="shopping-bag"></span>
            Weddings
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/about">
            <span data-feather="info"></span>
            About
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/staff">
            <span data-feather="users"></span>
            Staff
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/photos">
            <span data-feather="camera"></span>
            Photos
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/newsletter">
            <span data-feather="file-text"></span>
            Newsletter
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/account">
            <span data-feather="lock"></span>
            Change Password
        </a>
        </li>
    </ul>
    </div>
</nav>