<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link" href="/admin" id="admin">
            <span data-feather="compass"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/homepage" id="homepage">
            <span data-feather="home"></span>
            Homepage
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/worship" id="worship">
            <span data-feather="book-open"></span>
            Worship
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/ministries" id="ministries">
            <span data-feather="heart"></span>
            Ministries
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/weddings" id="weddings">
            <span data-feather="shopping-bag"></span>
            Weddings
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/about" id="about">
            <span data-feather="info"></span>
            About
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/staff" id="staff">
            <span data-feather="users"></span>
            Staff
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/photos" id="photos">
            <span data-feather="camera"></span>
            Photos
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/music" id="music">
            <span data-feather="music"></span>
            Music
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/files" id="files">
            <span data-feather="upload"></span>
            Upload Files
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/account" id="account">
            <span data-feather="lock"></span>
            Change Password
        </a>
        </li>
    </ul>
    </div>
</nav>