<div class="container">
    <h2>File Uploads</h2>
</div>

<div class="container topmargin border-top-dark">
    <div class="container text-center topmargin">
        <form action="/admin/files" method="POST" enctype="multipart/form-data">

            <h4>Worship Page Files</h4>
            <div class="row">
            
                <div class="col">
                    <h6 class="topmargin">Weekly Worship Bulletin</h6>
                    <input class="hide fileinput" type="file" name="bulletin" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Refrigerator Page</h6>
                    <input class="hide fileinput" type="file" name="refrigerator" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Newsletter</h6>
                    <input class="hide fileinput" type="file" name="newsletter" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Service Audio</h6>
                    <input class="hide fileinput" type="file" name="audiofile" accept=".mp3">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload MP3</button>
                    <p class="filelabel topmargin"></p>
                </div>
            
            </div>

            <hr>

            <h4>Governance Page Files</h4>
            <div class="row">

                <div class="col">
                    <h6 class="topmargin">Constitution and Bylaws</h6>
                    <input class="hide fileinput" type="file" name="constitution" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Annual Report</h6>
                    <input class="hide fileinput" type="file" name="annual_report" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Boards and Teams</h6>
                    <input class="hide fileinput" type="file" name="boards_teams" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>

            </div>

            <hr>

            <h4>Other Files</h4>
            <div class="row">

                <div class="col">
                    <h6 class="topmargin">Outreach Brochure</h6>
                    <input class="hide fileinput" type="file" name="outreach" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>
                <div class="col">
                    <h6 class="topmargin">Wedding Brochure</h6>
                    <input class="hide fileinput" type="file" name="weddings" accept=".pdf">
                    <button type="button" class="btn btn-outline-dark filebtn"><span data-feather="upload"></span> Upload PDF</button>
                    <p class="filelabel topmargin"></p>
                </div>

            </div>


            <div class="row topmargin">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>       
    </div>
</div>

{{#extend "scripts"}}
<script>
    $('.filebtn').on('click', function(){
        $(this).siblings('.fileinput').click();
    });
    $('.fileinput').on('change',function(){
        $(this).siblings('.filelabel').html($(this).val());
    });
</script>
{{/extend}}