@media screen and (max-width: 480px) {
    .hide-on-small {
        display: none;
    }
}

#creditfooter {
    display: none;
}

footer {
    box-shadow: 0 50vh 0 50vh #052e5c;
}
.footer-container {
    text-align: center;
}

/* worship page */
.worship-label { margin-top: 50px; }


/* staff && photos page */
.image-card { margin-bottom: 15px; }


/*
 * Utilities
 */

.no-bullets {
    padding: 0;
    list-style-type: none;
}
.no-bullets li { padding: 0; }

.dark-text { color: #333333; }

.padded { padding: 10px; }

.scrollbox {
    max-height: 300px;
    overflow: scroll;
}

.border-top-dark { border-top: 4px solid grey; }

.topmargin { margin-top: 20px; }