@media screen and (max-width: 480px) {
    .hide-on-small {
        display: none;
    }
}

#creditfooter {
    display: none;
}

.scrollbox {
    max-height: 300px;
    overflow: scroll;
}
footer {
    box-shadow: 0 50vh 0 50vh #052e5c;
}
.footer-container {
    text-align: center;
}

/* worship page */
.worship-label {
    margin-top: 50px;
}


/* staff && photos page */
.image-card {
    margin-bottom: 15px;
}