@media screen and (max-width: 480px) {
    .hide-on-small {
        display: none;
    }
}

#creditfooter {
    display: none;
}

.dailydevotional {
    max-height: 300px;
    overflow: scroll;
}

.footer-container {
    text-align: center;
}
