<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">

		<header>
			<h1>About</h1>
			<p>Feugiat adipiscing nisl amet</p>
		</header>
        <div class="image main"><img src="images/pic07.jpg" alt="" /></div>
		{{{about}}}
	</div>
</section>
