{{#extend "styles"}}
    <style>
        .go-to-calendar {
            display: none;
            padding: 50px 0;
            text-align: center;
        }
    </style>
{{/extend}}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">

        <header>
            <h1>Calendar</h1>
            <p>Feugiat adipiscing nisl amet</p>
        </header>
    </div>
    <div class="container calendar-container">
        <div class="container go-to-calendar">
            <a 
            href="https://calendar.google.com/calendar/embed?src=clintonunitedchurchofchrist%40gmail.com&ctz=America%2FNew_York" 
            class="button special">
                <i class="fa fa-calendar"></i>
                &nbsp;&nbsp;View Calendar
            </a>
        </div>

        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=clintonunitedchurchofchrist%40gmail.com&amp;color=%231B887A&amp;src=m8ef9rvrk7dmh4snuhs3tbok28%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York" style="border-width:0" width="1200" height="800" frameborder="0" scrolling="no"></iframe>
        
    </div>
</section>


{{#extend "scripts"}}
    <script>
        $(function(){
           let width = $(window).width();
           let iframe = $('iframe');
           if(width < 500){
               iframe.css('display', 'none');
               $('.go-to-calendar').css('display','inline-block');
           }else if(width < 1200){
                iframe.attr('width', width);
                iframe.attr('height', width*2/3);
            }
        });
    </script>
{{/extend}}





