{{#extend "styles"}}
<style>
	iframe {
			}
</style>
{{/extend}}

<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">

		<header>
			<h1>Contact Us</h1>
			<p>Feugiat adipiscing nisl amet</p>
		</header>

		{{!-- google map --}}
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11847.005160294988!2d-83.9707988!3d42.0699501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf68d1d2dfb903b0!2sClinton+United+Church+of+Christ!5e0!3m2!1sen!2sus!4v1520742335232" allowfullscreen></iframe>
		</div>
	</div>
</section>
<section id="two" class="wrapper style1 special">
	<div class="inner">
		<div class="split style1">
			
			<div class="contact">
				<h2>Contact</h2>
				<ul class="contact-icons">
					<li class="icon fa-home"><a href="#">300 Tecumseh Rd<br>Clinton, MI 49236</a></li>
					<li class="icon fa-phone"><a href="#">(517) 456-4363</a></li>
					<li class="icon fa-envelope-o"><a href="#">clintonunitedchurchofchrist@gmail.com</a></li>
				</ul>
				<ul class="icons-bordered">
					<li><a class="icon fa-facebook" href="#">
						<span class="label">Facebook</span>
					</a></li>
					<li><a class="icon fa-twitter" href="#">
						<span class="label">Twitter</span>
					</a></li>
					<li><a class="icon fa-instagram" href="#">
						<span class="label">Instagram</span>
					</a></li>
					<li><a class="icon fa-github" href="#">
						<span class="label">GitHub</span>
					</a></li>
					<li><a class="icon fa-linkedin" href="#">
						<span class="label">LinkedIn</span>
					</a></li>
				</ul>
			</div>
			{{!-- set this to post to controller --}}
			<form action="#" method="post">
				<h2>Email Us</h2>
				<div class="field half first">
					<input name="name" id="name" placeholder="Name" type="text" />
				</div>
				<div class="field half">
					<input name="email" id="email" placeholder="Email" type="email" />
				</div>
				<div class="field">
					<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Send Message" class="button" type="submit" /></li>
				</ul>
			</form>

		</div>
	</div>
</section>
