<section id="main" class="wrapper">
    <div class="inner">
        <header>
            <h1>Governance</h1>
        </header>

        <div class="image main"><img src="images/pic07.jpg" alt="" /></div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3 class="worship-label">Constitution and Bylaws</h3>
                    <a href="/storage/uploads/constitution/{{data.constitution}}" class="button icon fa-download"
                            target="_blank">Download PDF</a>
                </div>
                <div class="col">
                    <h3 class="worship-label">Annual Report</h3>
                    <a href="/storage/uploads/annual_report/{{data.annual_report}}" class="button icon fa-download"
                            target="_blank">Download PDF</a>
                </div>
                <div class="col">
                    <h3 class="worship-label">Boards and Teams</h3>
                    <a href="/storage/uploads/boards_teams/{{data.boards_teams}}" class="button icon fa-download"
                            target="_blank">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>