<!-- Main -->
            <section id="main" class="wrapper">
                <div class="inner">

                    <header>
                        <h1>Photos</h1>
                        <p>Feugiat adipiscing nisl amet</p>
                    </header>

                    <div class="row">
                        {{#each photos}}
                            <div class="col image-card">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="images/diane.jpg" alt="Card image cap" async>
                                    <div class="card-body">
                                        <p class="card-text">{{this.description}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </section>
