
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">

        <header>
            <h1>Staff</h1>
            <p>Feugiat adipiscing nisl amet</p>
        </header>
        <a href="#" class="image main"><img src="images/pic07.jpg" alt="" /></a>


        <div class="row">
        {{#each staff}}
            <div class="col image-card">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/diane.jpg" alt="Card image cap" async>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.title}}</h6>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>



    </div>
</section>
