
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">

        <header>
            <h1>Worship</h1>
            <p>Feugiat adipiscing nisl amet</p>
        </header>
        <a href="#" class="image main">
            <img src="images/pic07.jpg" alt="" />
        </a>

        <div class="container">

            <div class="row">
                <div class="col worship-left-col">

                    <h3 class="worship-label">Communion Times:</h3>
                    <ul>
                        {{#each times.communion}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>

                    <h3 class="worship-label">Service Times:</h3>
                    <ul>
                        {{#each times.service}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>

                    <h3 class="worship-label">Christian Education</h3>
                    <ul>
                        <li>sunday school</li>
                        <li>bible study</li>
                    </ul>

                </div>

                <div class="col worship-right-col">

                    <h3 class="worship-label">Weekly Worship Bulletin</h3>
                    <a href="{{docs.bulletin}}" class="button icon fa-download" target="_blank">Download PDF</a>


                    <h3 class="worship-label">Refrigerator Page</h3>
                    <a href="{{docs.refrigerator}}" class="button icon fa-download" target="_blank">Download PDF</a>
                    
                    
                    <h3 class="worship-label">Music</h3>

                </div>

            </div>
        </div>
    </div>
</section>